# database config
DATABASE_URL="mongodb://localhost:27017/hehe"

# app config
PORT="5001"
NODE_ENV="dev"
BASE_URL="http://localhost:5001"
MICROSERVICE_NAME="Template"

# gmail config (use an App Password, not your account password)
GMAIL_USER="ai.club@rishihood.edu.in"
GMAIL_APP_PASSWORD="hgrx hhvr hkoa iobh"

# secret key for send API authentication
NEWSLETTER_SECRET_KEY="your-secret-key-here"